body{
    background-color: aqua;
    color: black
}

#traits{
    background-color: lightseagreen;
    margin-top: 150px;
}

#pics{
    background-color: whitesmoke;
    width: 20%;
    margin-bottom: 50px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
  }